source 'http://rubygems.org'

gem 'cucumber'
gem 'rspec'
<% unless pageobject_driver.downcase == 'none' -%>
gem 'page-object'
<% end -%>
<% if with_lib == 'true' or with_gametel == 'true' -%>
gem 'require_all'
<% end -%>
<% if with_gametel == 'true' -%>
gem 'gametel'
gem 'rake'
<% end -%>

