source 'https://rubygems.org'

gem 'cucumber'
gem 'rspec'
gem 'rake'
<% unless pageobject_driver.downcase == 'none' -%>
gem 'page-object', '~> 2.0'
<% end -%>
<% if with_lib == 'true' or with_appium == 'true' -%>
gem 'require_all'
<% end -%>
<% if with_mohawk == 'true' -%>
gem 'mohawk', '~> 0.1'
gem 'ffi', '1.9.0'
gem 'win32screenshot'
<% end -%>
<% if with_appium =='true' -%>
gem 'appium_lib'
gem 'selenium-cucumber'
<% end -%>
